/* ===== Reset global ===== */
* {
  box-sizing: border-box;
}

/* ===== Body ===== */
body {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  background: #000814;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-title{
  text-align: center;
}

.orbits-header {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 900;
}

/* ===== Selector de fecha ===== */

#date-form {
  display: flex;
  gap: 10px;
  align-items: center;
  background: rgba(15, 20, 40, 0.85);
  padding: 12px 16px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.795);
}

#date-form input,
#date-form button {
  border-radius: 8px;
}

#date-form input {
  background: #ffffff;    /* blanco para que el calendario sea visible */
  color: #000000;         /* texto negro */
  border: 1px solid #3a3f66;
  padding: 6px 30px 6px 10px; /* espacio a la derecha para icono */
  appearance: none;       /* quita estilo predeterminado en algunos navegadores */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}


/* Botón */
#date-form button {
  background: linear-gradient(135deg, #4f7cff, #3656d4);
  color: white;
  border: none;
  padding: 6px 14px;
  cursor: pointer;
}


/* ===== Main ===== */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0; /* No agregamos margen extra arriba */
}

/* ===== MARCO PIXELADO (solo alrededor del sistema solar) ===== */
.solar-frame {
  margin: 80px auto 60px auto;
  padding: 24px;
  width: fit-content;

  background: #3a2a00;

  /* Marco pixelado dorado */
  box-shadow:
    0 0 0 4px #cfa43b,
    4px 4px 0 4px #a37c1c,
    -4px -4px 0 4px #ffd966,
    8px 8px 0 0 #6b4e00,
    -8px -8px 0 0 #ffe89a;

  image-rendering: pixelated;
}

/* ===== Caja interior sistema solar ===== */
.solar-box {
  width: 70vw;
  max-width: 900px;
  aspect-ratio: 1 / 1;

  background: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== SVG ===== */
.solar-system {
  width: 100%;
  height: auto;
  display: block;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgba(20,20,30,0.95);
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

/* ===== Botón menú ===== */
.open-btn {
  position: fixed;
  top: 16px;
  left: 5px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1100;
}

/* ===== ÓRBITAS ===== */
.orbit {
  fill: none;
  stroke: rgba(200, 220, 255, 0.8);
  stroke-width: 2;
  stroke-dasharray: 10 6;
  filter: drop-shadow(0 0 6px rgba(120, 170, 255, 0.6));
}

